/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
#masthead ul.menu.dropdown ul.menu {
  display: block; }

#masthead .dropdown.menu > li.opens-right > .is-dropdown-submenu {
  margin: 0; }
  #masthead .dropdown.menu > li.opens-right > .is-dropdown-submenu li {
    width: 100%; }

#masthead.background-image-header .masthead-inner {
  background-color: rgba(0, 0, 0, 0.43); }

main#main {
  padding: 25px 10px; }

.region-header-branding {
  font-size: 1rem; }
  .region-header-branding .site-logo-wrapper,
  .region-header-branding .site-name-slogan-wrapper {
    display: table-cell;
    vertical-align: middle; }
    .region-header-branding .site-logo-wrapper.site-name-slogan-wrapper,
    .region-header-branding .site-name-slogan-wrapper.site-name-slogan-wrapper {
      padding: 15px 0 0 15px; }
  .region-header-branding a.site-name h1 {
    margin: 0;
    font-size: 2rem; }
  .region-header-branding a.site-logo {
    display: block; }
