#masthead {
  ul.menu.dropdown ul.menu {
    display: block;
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    margin: 0;

    li {
      width: 100%;
    }
  }

  &.background-image-header {
    .masthead-inner {
      background-color: $HeaderTransparentBackground;
    }
  }
}

main#main {
  padding: 25px 10px;
}

.region-header-branding {
  font-size: 1rem;

  .site-logo-wrapper,
  .site-name-slogan-wrapper {
    display: table-cell;
    vertical-align: middle;

    &.site-name-slogan-wrapper  {
      padding: 15px 0 0 15px;
    }
  }

  a.site-name h1 {
    margin: 0;
    font-size: 2rem;
  }

  a.site-logo {
    display: block;
  }
}

.dropdown.menu .is-active>a {
  color: $white;
}

.masthead-inner nav i.responsive-menu-expand {
  font-size: 2rem;
  float: right;
  padding: 15px;
  margin-top: -35px;
}

@media screen and (max-width: 39.9375em) {
  .masthead nav ul.menu li {
    width: 100%;
  }

  .is-dropdown-submenu {
    border: none;
  }
}
